:root {
    --color1: #F4F4F4;
    --color2: #7DC1BD;
    --color3: #E49F30;
    --color4: #24455D;
}

.sales-channels {
    background-color: var(--color1);
    padding: 20px;
    text-align: center;
}

.sales-channels h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.sales-channels-title {
    font-size: 24px;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 20px;
}

.channel-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.channel-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.channel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.channel-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.channel-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.channel-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.channel-button {
    background-color: var(--color3);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 180px;
    margin: auto;
    margin-top: auto;
    /* Empuja el botón hacia abajo */
}

.channel-button:hover {
    background-color: var(--color4);
}

/* Responsividad */
@media (max-width: 800px) {
    .channel-list {
        flex-direction: column;
        align-items: center;
    }

    .channel-card {
        width: 90%;
    }
}
