:root {
    --color1: #F4F4F4;
    --color2: #7DC1BD;
    --color3: #E49F30;
    --color4: #24455D;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: var(--color1);
    color: var(--color4);
}

.error-title {
    font-size: 6rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.error-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.error-link {
    font-size: 1.2rem;
    color: var(--color1);
    text-decoration: none;
    background: var(--color3);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.error-link:hover {
    background: var(--color2);
}
