.root{
    --color1: #f2f2f2;
    --color2: #f29863;
    --color3: #acd6cc;
    --color4: #2d2c59;
    --color5: #d9305d;
}

.promo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    /* Color de fondo */
    padding: 15px;
    border-radius: 10px;
    /* Bordes redondeados */
    max-width: 100%;
}

.promo-image {
    width: 100%;
    max-width: 1200px;
    /* Ajuste máximo de tamaño */
    height: auto;
}

@media (max-width: 800px) {
    .promo-image {
        width: 90%;
    }
}
