:root {
    --color1: #F4F4F4;
    --color2: #7DC1BD;
    --color3: #E49F30;
    --color4: #24455D;
}

.under-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
    margin-top: 90px;
    margin-bottom: 10px;
    background-color: white;
}

.construction-logo {
    width: 200px;
    width: 300px;
    margin-bottom: 1px;
}

.construction-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1px;
    color: var(--color3);
    margin-top: 40px;
}

.construction-text {
    font-size: 1.2rem;
    color: var(--color4);
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 1px;
    font-weight: bold;
}

.construction-gif {
    height: 250px;
}

@media (max-width: 768px) {
    .under-construction {
        height: auto;
        margin-top: 90px;
        padding: 10px;
        margin-bottom:0px;
    }

    .construction-logo {
        width: 50%;
        max-width: 200px;
    }

    .construction-title {
        font-size: 1.5rem;
        margin-top: 35px;
    }

    .construction-text {
        font-size: 1rem;
        max-width: 80%;
    }

    .construction-gif {
        height: 185px;
        margin-bottom: 35px;
    }
}
