:root {
    --color1: #F4F4F4;
    --color2: #7DC1BD;
    --color3: #E49F30;
    --color4: #24455D;

}

.nav-container {
    padding: 10px;
    background-color: var(--color1);
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    height: 110px;
    margin-left: 20px;
}

.nav-menu-icon {
    display: none;
    /* Ocultar el ícono del menú en pantallas grandes */
}

.nav-list {
    display: flex;
    /* Mostrar la lista en pantallas grandes */
    flex-direction: row;
    list-style: none;
    margin-left: 400px;
    /* Mover la lista hacia la derecha */
}

.language-selector-desktop {
    margin-left: 0px;
    /* Separar el selector de idioma de la esquina */
}

/* Estilos responsivos */
@media (max-width: 800px) {
    .nav-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu-icon {
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: var(--color4);
    }

    .nav-logo {
        height: 75px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        /* Restablecer el margen en pantallas pequeñas */
    }

    .nav-list.open {
        display: flex;
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
