:root {
    --color1: #f2f2f2;
    --color2: #f29863;
    --color3: #acd6cc;
    --color4: #2d2c59;
    --color5: #d9305d;
}

.nav-container {
    padding: 10px;
    background-color: var(--color1);
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    height: 110px;
}

.nav-menu-icon {
    display: none; /* Ocultar el ícono del menú en pantallas grandes */
}

.nav-list {
    display: flex; /* Mostrar la lista en pantallas grandes */
    flex-direction: row;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
    margin-top: -70px;
}

.nav-item a {
    text-decoration: none;
    color: var(--color4);
    font-size: 25px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: var(--color5);
}

.language-selector-desktop {
    margin-left: auto;
}

/* Estilos responsivos */
@media (max-width: 800px) {
    .nav-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu-icon {
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: var(--color2);
    }

    .nav-logo {
        height: 75px;
    }

    .language-selector-desktop {
        position: relative; /* Asegura que esté dentro del flujo */
        margin-left: auto;
        top: 0;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-list.open {
        display: flex;
    }

    .nav-item {
        margin: 15px 0;
        text-align: left; /* Centrar los elementos de la lista */
    }

    .nav-item a {
        font-size: 20px;
    }
}
