.shop-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}

.shop-button-img {
    max-width: 400px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.shop-button-img:hover {
    transform: scale(1.05);
    /* Efecto de agrandado al pasar el cursor */
}


@media (max-width: 800px) {
    .shop-button-container {
        height: 7vh;
        max-width: 400px;
        /* Reduce el espacio vertical */
        margin-bottom:  0px;
    }

    .shop-button-img {
        max-width: 250px;
        /* Tamaño más pequeño */
    }
}
