/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #F4F4F4;
  --color2: #7DC1BD;
  --color3: #E49F30;
  --color4: #24455D;
}

/* Estilo para el body */
body {
  font-family: "Gilroy", sans-serif;
  font-optical-sizing: auto;
  
  background-color: var(--color1);
  /* Color de fondo claro */
  color: black;
  /* Color de texto principal */
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  width: 100%;
  padding: 0px;
}
