/* Carousel.css */

:root {
    --color-bg: #16181b;
    --color-fg: #ffffff;
}


ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    cursor: grab;
    background: var(--color-fg); /* Fondo claro para que las imágenes sean visibles */
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.carousel-item.active {
    opacity: 1;
    visibility: visible;
}

.viewport {
    position: absolute;
    inset: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel::before,
.carousel::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    translate: -50% 0;
    width: 500%;
    height: 500%;
    border-radius: 50%;
    background: var(--color-bg);
}

.carousel::before {
    top: -480%;
}

.carousel::after {
    bottom: -480%;
}

.slide {
    position: relative;
    flex: 0 0 33.33%;
    width: 33.33%;
    counter-increment: item;
}

.snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    background-size: cover;
    background-position: 50%;
    border: 10px solid var(--color-bg);
}
