/* LanguageSelector.css */
.language-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.language-selector-button {
    font-size: 16px; /* Reducir el tamaño de la fuente */
    padding: 8px 16px; /* Reducir el padding */
    border-radius: 6px; /* Ajustar el borde redondeado */
    border: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.language-selector-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.language-selector-menu .MuiMenuItem-root {
    font-size: 14px;
    padding: 8px 16px;
}

.language-selector-menu .MuiMenuItem-root:hover {
    background-color: #e6e6e6;
}

.flag-icon {
    width: 20px; /* Reducir el tamaño de la bandera */
    height: 20px; /* Reducir el tamaño de la bandera */
    margin-right: 5px; /* Ajustar el margen */
}

.position-adjust {
    position: absolute;
    top: 40px;
    right: 30px;
}

/* Estilos responsivos */
@media (max-width: 800px) {
    .position-adjust {
        position: static;
        top: auto;
        right: auto;
        margin-right: 3px;
    }
}

@media (min-width: 768px) {
    .language-selector-button {
        font-size: 18px; /* Ajustar el tamaño de la fuente en pantallas grandes */
        padding: 10px 20px; /* Ajustar el padding en pantallas grandes */
    }

    .flag-icon {
        width: 24px; /* Ajustar el tamaño de la bandera en pantallas grandes */
        height: 24px; /* Ajustar el tamaño de la bandera en pantallas grandes */
    }
}
