:root {
    --color1: #f2f2f2;
    --color2: #f29863;
    --color3: #acd6cc;
    --color4: #2d2c59;
    --color5: #d9305d;
}

.nav-container {
    padding: 10px;
    background-color: var(--color1);
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    height: 60px;
}

.nav-menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--color4);
    margin-left: 10px; /* Espaciado entre el logo y el ícono */
}

.nav-list {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
}

.nav-list.open {
    display: flex;
}

.nav-item {
    margin: 10px 0;
    text-align: left;
}

.nav-item a {
    text-decoration: none;
    color: var(--color4);
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: var(--color5);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-header {
        flex-direction: row;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }
}
